# Byte-compiled / cache
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.env/
.venv/

# Variables de entorno
.env

# VS Code
.vscode/

# PyCharm
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Builds
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log